<a href="https://colab.research.google.com/github/fruizpace/LarryGithub/blob/master/SQL_QUIZ2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting to the database

We need to install jupysql to be able to use the SQL magic and psycopg2 to connect to a postgresql database.

In [1]:
# This installs the necessary libraries to use the SQL magic with a postgresql database
%pip install jupysql==0.7.9 psycopg2-binary --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 2.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 40.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 282.7/282.7 kB 23.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 64.8 MB/s eta 0:00:00

In [2]:
# Loads the extension
# %sql for inline SQL queries
# %%sql for multiline SQL queries
# %sqlcmd for table description
%load_ext sql
%config SqlMagic.displaylimit = None

There's a new jupysql version available (0.8.0), you're running 0.7.9. To upgrade: pip install jupysql --upgrade
displaylimit: Value None will be treated as 0 (no limit)

In [3]:
# Connect to the database
%sql postgresql://postgres:y5I231PVlXqBdYnbP4bpNP3@srv-87.bifi.unizar.es/spotify_small

# Querying the database

To execute a query, one simply needs to add %sql for a one line query or %%sql for a multi-line query.

In [4]:
#PRUEBA
%%sql
SELECT *
FROM ALBUMS
LIMIT 10;

Running query in 'postgresql://postgres:***@srv-87.bifi.unizar.es/spotify_small'

10 rows affected.

+------------------------+----------------------------------------+-------------+------------+------------+--------------+--------------+
|           id           |                  name                  | album_group | album_type | popularity | release_date | release_year |
+------------------------+----------------------------------------+-------------+------------+------------+--------------+--------------+
| 0FsmZnrSObUXTphEheVgh1 | Future Navigators II - The Second Tour |             |   album    |     6      |  2000-05-16  |     2000     |
| 2phqSvKkQof9WJjxvjQ4hd |               Doremifas                |             |   single   |     3      |  2002-01-01  |     2002     |
| 4evAUwcx3ZYxbwtIe3Odbz |                Implant                 |             |   album    |     3      |  1994-01-01  |     1994     |
| 7mZYhnLGYkbCt4Zb6qSE2b |                 On Top                 |             |   album    |     2      |  2008-01-01  |     2008     |
| 3cs2KlrwzrHQF0iftmZJaC |           Over Bloody Flood            |             |   single   |     1      |  2015-06-09  |     2015     |
| 37ILmVagklVMqAKeNaVd9D |            Blow Up The Moon            |             |   album    |     42     |  2015-04-04  |     2015     |
| 0YeJsRIoANAEGLVmHZTp9E |                Lanterns                |             |   album    |     21     |  2015-04-28  |     2015     |
| 34ILKqrXm1MXnNKGZ2xNvz |              Dark Touches              |             |   album    |     13     |  2009-10-13  |     2009     |
| 4zIubnKAwNC3b5u4W1Q8ds |                The Call                |             |   album    |     22     |  2012-01-23  |     2012     |
| 2Loi5NxcwNMo1yRYLIVGzl |                Rejects                 |             |   album    |     11     |  2011-11-10  |     2011     |
+------------------------+----------------------------------------+-------------+------------+------------+--------------+--------------+

# QUIZ 2. JOINS

In [7]:
#PREGUNTA 1. En qué año se lanzó por primera vez la canción 'Bohemian Rhapsody'
# Pista: el año de lanzamiento solo está en la tabla ALBUMS
%%sql
SELECT MIN(C.RELEASE_YEAR)
FROM TRACKS A
	INNER JOIN R_ALBUMS_TRACKS B ON A.ID = B.TRACK_ID
	INNER JOIN ALBUMS C ON B.ALBUM_ID = C.ID
	WHERE A.NAME = 'Bohemian Rhapsody'

Running query in 'postgresql://postgres:***@srv-87.bifi.unizar.es/spotify_small'

1 rows affected.

+------+
| min  |
+------+
| 1975 |
+------+

In [ ]:
#PREGUNTA 2. Popularidad media de las canciones lanzadas en el año 2020
%%sql

In [ ]:
#PREGUNTA 3. Energía media de las canciones del album "La Deriva" de Vetusta Morla
%%sql